@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NSans Light';
  src: url('./assets/fonts/NetflixSans-Light.otf');
}

@font-face {
  font-family: 'NSans Regular';
  src: url('./assets/fonts/NetflixSans-Regular.otf');
}

@font-face {
  font-family: 'NSans Medium';
  src: url('./assets/fonts/NetflixSans-Medium.otf');
}

@font-face {
  font-family: 'NSans Bold';
  src: url('./assets/fonts/NetflixSans-Bold.otf');
}

body{
  font-family: 'NSans Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}